@import "../../../../props.scss"; 

.todo-maker {
  @include flexing(column);
  text-align: center;
  font-size: 1.5rem;
  box-shadow: -20px -12px 0px #222231;
  padding: 2rem;
  margin: 2rem 0 0 0;
  border-style: solid;
  border-radius: 5px;
  background: white;
  transition: all 0.5s ease;
  position: absolute;
  z-index: 4;
  left: 10%;
  top: 3%;

  .title {
    justify-self: center;
    display: flex;
    
    i {
        position: relative;
        align-self: center;
        margin: 1rem;
    }
  }

  p {
    font-family: "Playfair Display", serif;
  }

}

form {
  margin: 1rem 0;
  @include flexing(column);
  
  .todoInput {
    @include flexing(row);
    margin: 1rem 0 0 0;

    input, button{
      border-width: 3px;
      border-color: #222231;
      font-size: medium;
      border-style: solid;
      border-radius: 50px;

      &:focus {
        outline: none;
      }
    }

    input {
      margin-right: 1rem;
      padding: 0.7rem;
      width: 278.4px;
    }

    ::placeholder {
      color: #C2C2C2;
    }    

    .todo-button {
      padding: 0.7rem 0.8rem;
      cursor: pointer;
      color: #222231;
      transition: all 0.3s ease;
      
      &:hover {
          background: #222231;
          color: white;
      }
    }
  }
}

#appearDown {
  transition: appearDown 1s ease-in;
}

@keyframes appearDown {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(0%);
  }
}