$Playfair: 'Playfair Display', serif;
$doneShadow: -20px 12px 0px #3dd8ad;
$todoShadow: 10px 8px 0px #ffa500;
$doneShadowColor: #3dd8ad;
$todoShadowColor: #ffa500;
$logoShadowColor: #232332;
$otherBlue: #5B7397;
$pinkBg: #D3B3B3; 

@mixin flexing($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}