@import "../../props.scss";

.todo-container {
  @include flexing(row);
  margin: 2rem 0;
  /*grid-template-columns: 200px 1fr 1fr 1fr;*/

  .todo-list {
    min-width: 30%;
    list-style: none;
  }
}
