#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #D3B3B3;
  height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

#intro #bg {
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: 0;
  pointer-events: none;
  -webkit-transition: fill 1s ease;
  transition: fill 1s ease;
}

#intro .hoveredIntroCircle {
  -webkit-animation: danceIntro 0.8s ease-in-out;
          animation: danceIntro 0.8s ease-in-out;
}

#intro #mt1 {
  position: absolute;
  width: 350px;
  left: 9%;
  top: 11%;
  z-index: 1;
  -webkit-animation: goAway 15s ease-in-out infinite;
          animation: goAway 15s ease-in-out infinite;
}

#intro #mt2 {
  position: absolute;
  width: 320px;
  left: 48%;
  top: 13%;
  z-index: 1;
  -webkit-animation: goAway 20s ease-in-out infinite;
          animation: goAway 20s ease-in-out infinite;
}

#intro #mt3 {
  position: absolute;
  width: 320px;
  left: 53%;
  top: 58%;
  z-index: 1;
  -webkit-animation: goAway 10s ease-in-out infinite;
          animation: goAway 10s ease-in-out infinite;
}

#intro #mt4 {
  position: absolute;
  width: 320px;
  left: 19%;
  top: 80%;
  z-index: 1;
  -webkit-animation: goAwayReduced 10s ease-in-out infinite;
          animation: goAwayReduced 10s ease-in-out infinite;
}

#intro #mt5 {
  position: absolute;
  width: 320px;
  left: 72%;
  top: 79%;
  z-index: 1;
  -webkit-animation: goAwayReduced 10s ease-in-out infinite;
          animation: goAwayReduced 10s ease-in-out infinite;
}

#intro #note {
  position: absolute;
  width: 90px;
  left: 48%;
  top: 40%;
  z-index: 1;
  -webkit-animation: Logofloat 3s ease-in-out infinite;
          animation: Logofloat 3s ease-in-out infinite;
}

.hoverBg {
  background: #232332 !important;
}

@-webkit-keyframes goAway {
  0% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  50% {
    -webkit-transform: translatex(10%);
            transform: translatex(10%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

@keyframes goAway {
  0% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  50% {
    -webkit-transform: translatex(10%);
            transform: translatex(10%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

@-webkit-keyframes goAwayReduced {
  0% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  50% {
    -webkit-transform: translatex(-10%);
            transform: translatex(-10%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

@keyframes goAwayReduced {
  0% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  50% {
    -webkit-transform: translatex(-10%);
            transform: translatex(-10%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

@-webkit-keyframes danceIntro {
  0% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  50% {
    -webkit-transform: translatex(-10%);
            transform: translatex(-10%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

@keyframes danceIntro {
  0% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  50% {
    -webkit-transform: translatex(-10%);
            transform: translatex(-10%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}
/*# sourceMappingURL=styles.css.map */