@import "../../props.scss"; 

.intro-nav {
  z-index: 99;
  .menu {
    @include flexing(row);
    height: 8vh;
    justify-content: flex-end;
    list-style-type: none;
    margin: 1.5rem 6rem 0 0;

    li {
      display: flex;
    }
  }

  .sing-in {
    margin: 0 2.5rem;
    padding: 1rem 1.5rem;
    border-width: 3px;
    border-color: #232332;
    border-radius: 50px; 
    border-style: solid;
    color: #232332;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    
    &:hover {
      background:  #ee7600;
      border-color: #ee7600;
      color: white;
    }

    a {
      text-decoration: none;
    }
  }

  .sing-up {
    padding: 1rem 1.5rem;
    background: #6D6069;
    border-radius: 50px;
    border-color: #6D6069;
    border-style: solid;
    color: white; 
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
  }

  .hoveredBtn {
    color: white;
    border-color: white;
  }

}