@import "../../../../props.scss"; 

.intro-logo {
  @include flexing(column);
  text-align: center;
  font-size: 1.5rem;
  box-shadow: -20px -12px 0px #222231;
  padding: 2rem;
  margin: 2rem 0 0 0;
  border-style: solid;
  border-radius: 5px;
  background: white;
  transition: all 0.5s ease;

  position: absolute;
  width: 500px;
  height: 300px;
  left: 10%;
  bottom: 29%;
  z-index: 7;

  .title {
    justify-self: center;
    display: flex;
    padding: 1rem 0; 
    
    i {
        position: relative;
        align-self: center;
        margin: 1rem;
    }
  }

  p {
    font-family: "Playfair Display", serif;
  }
}

.not-blank{
  box-shadow: 20px 12px 0px #222231;
  border-radius: 5px;
}
