@import "../../props.scss"; 

form {
  margin: 10px;

  input, button{
      padding: 0.5rem;
      border-width: 3px;
      border-color: #222231;
      font-weight: bold;
      border-style: solid;
      border-radius: 1.5px;
  }

  button {
      cursor: pointer;
      color: #222231;
      border-radius: 1.5px;
      transition: all 0.3s ease;
      
      &:hover {
          background: #222231;
          color: white;
      }
  }
}

select {
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;

  &::after {
      content: "\25BC";
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.1rem;
      pointer-events: none;
      transition: all 0.3s ease;
  }

  &:hover::after {
      color: #ffa500;
  }
}

select {
  padding: 0.2px;
  width: 10rem;
  cursor: pointer;
  box-shadow: 0px 10px 0px #222231;
  transition: all 0.3s ease;

  &:hover {
      box-shadow: 0px 10px 0px #ffa500;
  }
}

