<div id="intro" class="{{ hoverBg ? 'hoverBg' : '' }}">
  <svg id="bg" width="1000" height="1000" viewBox="0 0 1069 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse class="{{ hoverBg ? 'hoveredCircle':'Circle'}}" cx="294" cy="518.5" rx="775" ry="741.5" fill-opacity="0.35"/>
    <ellipse class="Circle" cx="188" cy="518.5" rx="775" ry="741.5" fill-opacity="0.35"/>
  </svg>
  <img id="mt1" src="../../assets/Moving-todo-1.svg" alt="animation"/>
  <img id="mt2" src="../../assets/Moving-todo-2.svg" alt="animation"/>
  <img id="mt3" src="../../assets/Moving-todo-3.svg" alt="animation"/>
  <img id="mt4" src="../../assets/Moving-todo-4.svg" alt="animation"/>
  <img id="mt5" src="../../assets/Moving-todo-5.svg" alt="animation"/>
  <img id="note" src="../../assets/note.svg" alt="animation"/>
<!--   <navbarcomponent (hover)="handleHover()" [hoverBg]="hoverBg"></navbarcomponent> -->
<!--   <app-logo-wrapper></app-logo-wrapper> -->
</div>
