@import '../props.scss';

#intro {
  display: flex;
  flex-direction: column;
  background: $pinkBg;
  height: 100vh;
  overflow: hidden;
  position: relative; 
  transition: background 1s ease;

  #bg {
    position: absolute;
    left: -12%;
    top: -20%;
    z-index: 0;
    pointer-events: none;
    transition: fill 1s ease;
  }

  .hoveredCircle {
    animation: dance 0.8s ease-in-out;
    fill: #232332;
  }

  .Circle {
    fill: #ffffff;
  }

  #mt1 {
    position: absolute;
    width: 350px;
    left: 9%;
    top: 11%;
    z-index: 1;
    animation: goAway 15s ease-in-out infinite;
  }
  #mt2 {
    position: absolute;
    width: 320px;
    left: 48%;
    top: 13%;
    z-index: 1;
    animation: goAway 20s ease-in-out infinite;
  }
  #mt3 {
    position: absolute;
    width: 320px;
    left: 53%;
    top: 58%;
    z-index: 1;
    animation: goAway 10s ease-in-out infinite;
  }
  #mt4 {
    position: absolute;
    width: 320px;
    left: 19%;
    top: 80%;
    z-index: 1;
    animation: goAwayReduced 10s ease-in-out infinite;
  }
  #mt5 {
    position: absolute;
    width: 320px;
    left: 72%;
    top: 79%;
    z-index: 1;
    animation: goAwayReduced 10s ease-in-out infinite;
  }
  #note {
    position: absolute;
    width: 90px;
    left: 48%;
    top: 40%;
    z-index: 1;
    animation: float 3s ease-in-out infinite;
  }
}

.hoverBg {
    background: $logoShadowColor !important;
  }

@keyframes goAway {
  0% {
		transform: translatex(0%);
  }
  50% {
    transform: translatex(10%);
  }  
	100% {
		transform: translatex(0%);
	}
}
@keyframes goAwayReduced {
  0% {
		transform: translatex(0%);
  }
  50% {
    transform: translatex(-10%);
  }  
	100% {
		transform: translatex(0%);
	}
}
@keyframes dance {
  0% {
		transform: translatex(0%);
  }
  50% {
    transform: translatex(-10%);
  }  
	100% {
		transform: translatex(0%);
	}
}

