@import '../props.scss';

#intro {
  display: flex;
  flex-direction: column;
  background: $pinkBg;
  height: 100vh;
  overflow: hidden;
  position: relative; 
  transition: background 1s ease;

  #bg {
    position: absolute;
    left: -12%;
    top: -20%;
    z-index: 0;
    pointer-events: none;
    transition: fill 1s ease;
  }

  .hoveredCircle {
    animation: dance 0.8s ease-in-out;
    fill: #ffffff;
  }

  .Circle {
    fill: #232332;
  }

  #mt1 {
    position: absolute;
    width: 350px;
    left: 9%;
    top: 11%;
    z-index: 1;
    animation: goAway 15s ease-in-out infinite;
  }
  #mt2 {
    position: absolute;
    width: 320px;
    left: 48%;
    top: 13%;
    z-index: 1;
    animation: goAway 20s ease-in-out infinite;
  }
  #mt3 {
    position: absolute;
    width: 320px;
    left: 53%;
    top: 58%;
    z-index: 1;
    animation: goAway 10s ease-in-out infinite;
  }
  #mt4 {
    position: absolute;
    width: 320px;
    left: 19%;
    top: 80%;
    z-index: 1;
    animation: goAwayReduced 10s ease-in-out infinite;
  }
  #mt5 {
    position: absolute;
    width: 320px;
    left: 72%;
    top: 79%;
    z-index: 1;
    animation: goAwayReduced 10s ease-in-out infinite;
  }
  #note {
    position: absolute;
    width: 90px;
    left: 48%;
    top: 40%;
    z-index: 1;
    animation: float 3s ease-in-out infinite;
  }

  .intro-logo {
    @include flexing(column);
    text-align: center;
    font-size: 1.5rem;
    box-shadow: -20px -12px 0px #222231;
    padding: 2rem;
    margin: 2rem 0 0 0;
    border-style: solid;
    border-radius: 5px;
    background: white;
    transition: all 0.5s ease;
  
    position: absolute;
    /* width: 500px;
    height: 300px; */
    width: 433px;
    height: 217.734px;
    left: 10%;
    bottom: 29%;
    z-index: 7;
  
    animation: float 3s ease-in-out infinite;
  
    .title {
      justify-self: center;
      display: flex;
      padding: 1rem 0; 
      
      i {
          position: relative;
          align-self: center;
          margin: 1rem;
      }
    }
  
    p {
      font-family: "Playfair Display", serif;
    }
  }
}

.hoverBg {
    background: $logoShadowColor !important;
}

/* Animation  */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes goAway {
  0% {
		transform: translatex(0%);
  }
  50% {
    transform: translatex(10%);
  }  
	100% {
		transform: translatex(0%);
	}
}
@keyframes goAwayReduced {
  0% {
		transform: translatex(0%);
  }
  50% {
    transform: translatex(-10%);
  }  
	100% {
		transform: translatex(0%);
	}
}
@keyframes dance {
  0% {
		transform: translatex(0%);
  }
  50% {
    transform: translatex(-10%);
  }  
	100% {
		transform: translatex(0%);
	}
}

